<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Teacher - Registro</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon/logo.png">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div layout:fragment="contenido_dinamico">
        <main>
            <div class="container-fluid registro-profesor padded-top-xl">
                <div class="text-center padded-bottom">
                    <h1>Regístrate</h1>
                </div>
                <form th:action="@{''}" method="post" th:object="${tutor}" enctype="multipart/form-data">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="row g-2">
                                <div class="col-sm-4">
                                    <label for="dni" class="form-label">DNI</label>
                                    <input maxlength="8" type="number" class="form-control" id="dni" th:field="*{dni}" th:errorclass="is-invalid">
                                    <div th:errors="*{dni}" th:if="${#fields.hasErrors('dni')}" class="invalid-feedback"></div>
                                </div>
                                <div class="col-sm-8">
                                    <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" th:field="*{email}"
                                        aria-describedby="emailHelp" th:errorclass="is-invalid">
                                    <div th:errors="*{email}" th:if="${#fields.hasErrors('email')}" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row g-2 padded-top">
                                <div class="col-sm-6">
                                    <label for="nombres" class="form-label">Nombres</label>
                                    <input type="text" class="form-control" id="nombres" th:field="*{nombres}" th:errorclass="is-invalid">
                                    <div th:errors="*{nombres}" th:if="${#fields.hasErrors('nombres')}" class="invalid-feedback"></div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="apellidos" class="form-label">Apellidos</label>
                                    <input type="text" class="form-control" id="apellidos" th:field="*{apellidos}" th:errorclass="is-invalid">
                                    <div th:errors="*{apellidos}" th:if="${#fields.hasErrors('apellidos')}" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row g-2 padded-top">
                                <div class="mb-2">
                                    <label for="password1">Contraseña</label>
                                    <input type="password" id="password1" class="form-control" th:field="*{password1}" th:errorclass="is-invalid">
                                    <div th:errors="*{password1}" th:if="${#fields.hasErrors('password1')}" class="invalid-feedback"></div>
                                </div>
                                <div class="mb-2">
                                    <label for="password2">Repite la contraseña</label>
                                    <input type="password" id="password2" class="form-control" th:field="*{password2}" th:errorclass="is-invalid">
                                    <div th:errors="*{password2}" th:if="${#fields.hasErrors('password2')}" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row g-2 padded-top">
                                <div class="col-sm-4">
                                    <label for="celular" class="form-label">Celular</label>
                                    <input type="number" class="form-control" id="celular" th:field="*{celular}" th:errorclass="is-invalid">
                                    <div th:errors="*{celular}" th:if="${#fields.hasErrors('celular')}" class="invalid-feedback"></div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control" id="fechanacimiento" th:field="*{fechanacimiento}" th:errorclass="is-invalid">
                                    <div th:errors="*{fechanacimiento}" th:if="${#fields.hasErrors('fechanacimiento')}" class="invalid-feedback"></div>
                                </div>
                                <div class="col-sm-4">
                                    <label for="costo" class="form-label">Costo x hora</label>
                                    <input type="number" class="form-control" id="costo" th:field="*{costo}" th:errorclass="is-invalid">
                                    <div th:errors="*{costo}" th:if="${#fields.hasErrors('costo')}" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row g-2 padded-top">
                                <div class="col-sm-8">
                                    <label for="formFile" class="form-label">Foto</label>
                                    <input class="form-control" type="file" id="formFile" accept="image/*" th:field="*{imagen}" th:errorclass="is-invalid">
                                    <div th:errors="*{imagen}" th:if="${#fields.hasErrors('imagen')}" class="invalid-feedback"></div>
                                </div>
                                <div class="col-sm-4">
                                    <label for="titulo" class="form-label">Curso que enseña</label>
                                    <select id="titulo" name="titulo" class="form-select">
                                        <option th:each="titulo : ${tituloList}" th:text="${titulo}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="padded-top">
                                <label for="exampleFormControlTextarea1" class="form-label">Descripción personal</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" th:field="*{descripcion}" th:errorclass="is-invalid"></textarea>
                                <div th:errors="*{descripcion}" th:if="${#fields.hasErrors('descripcion')}" class="invalid-feedback"></div>
                            </div>
                            <div class="text-center padded-top-xl">
                                <button type="submit" class="btn-main-register">Registrar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>

</html>